<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<a href="/">Личный кабинет</a>
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Architecto, consequuntur deleniti dolorum eos itaque necessitatibus, nesciunt non nostrum perferendis placeat quod, reprehenderit. Hic, ipsa pariatur possimus quaerat saepe sequi voluptatibus! Accusantium asperiores aspernatur consequuntur dicta exercitationem harum quasi quis. Accusamus eius error id recusandae? Animi atque corporis debitis deleniti dolorum ea eius exercitationem ipsum iste itaque, molestiae odit omnis, porro possimus ratione tempore temporibus ullam, unde veniam voluptas? Atque aut consectetur consequatur delectus distinctio ducimus earum illum in itaque libero, nihil numquam odit officiis omnis quae quisquam quod saepe sapiente sed similique temporibus tenetur voluptate! Et fugiat sed tenetur ut?
</body>
</html>
