<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form method="post">
    <input id="login-reg" type="text" name="Login">
    <input id="pas-reg" type="password" name="Password">
    <input id="repas-reg" type="password" name="RePassword">
    <button class="reg-btn" type="submit">Отправить</button>
</form>
<a href="/">На главную</a>

<script src="/javascripts/jquery.min.js"></script>
<script src="/javascripts/authData.js"></script>

</body>
</html>